<div class="d-flex gap-2">
    <input class="form-control" type="search" placeholder="Search contacts..." style="width: 250px;" />
    <button class="btn btn-outline-primary">Import</button>
    <button class="btn btn-primary">Add</button>
</div>